{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/get_ready.css">
<link rel="stylesheet" href="/assets/css/get_ready_desktop.css">
{% endblock %}

{% block title %}Fight{% endblock %}

{% block content %}
<div class="navBlock">
    <nav>
        <p class="btn" style="visibility: hidden"><img class="btnImg" src="assets/images/mobile/return_icon.png" alt=""></p>
        <a href="/"><img class="mainLogo" src="assets/images/mobile/logo.png" alt="Logo of Defend The Castle"></a>
        <p class="btn" id="music-button" onclick="playPause()"><img class="btnImg" src="assets/images/mobile/music_icon.png" alt="Mute"></p>
    </nav>
</div>
<section class="sky">
    <picture class="castle">
        <source srcset="assets/images/desktop/desktop_castle_troop_choice.png" media="(min-width: 530px)">
        <img class= "castleImg" src="assets/images/mobile/troop_choice_castle.png" alt="Castle open door">
    </picture>    
    <div class="narration">
        <img class="bubble" src="assets/images/mobile/bubble.png" alt="">
            <div class="content result" id="timer"></div>    
    </div>
</section>
<section class="grass">
    <picture class="tent">
        <source srcset="assets/images/desktop/battle_tent.png" media="(min-width: 530px)">
        <img class="tent" src="assets/images/mobile/tent.png" alt="image enemy indice ">
        <!-- When us5-Fight is updated, delete the previous line and uncomment:
        <img class="tent" src=""{{ enemy.indice }} alt="image enemy indice ">
        -->
    </picture>    
    <div class="gameInfo">
        <h1 class="info">~ ROUND {{ round }} ~</h1>
        <h3 class="description">FIGHT</h3>
    </div>

    <div class="battlefield">
        <div class="oneTroop">
            {% if trooperPlayer.vigor == 3 or trooperPlayer.vigor == 2 %}
            <div class="troop yellow">
                {% elseif trooperPlayer.vigor == 1 %}
            <div class="troop red">
                {% else %}
            <div class="troop green">
                {% endif %}
                <img class="troopImg" src="assets/images/mobile/archer.png" alt="asset troop ">
                <!-- When us5-Fight is updated, delete the previous line and uncomment:
                <img class="troopImg" src={{ trooperPlayer.image}} alt="asset troop ">
                -->
            </div>
            <p class="vigor">
            <img class="vigorImg" src="assets/images/mobile/vigor5-5.png" alt="asset vigor troop {{ trooperPlayer.vigor}} / 5 ">
            <!-- When us5-Fight is updated, delete the previous line and uncomment:
            <img class="vigorImg" src={{ trooperPlayer.imgVigor }} alt="asset vigor troop {{ trooperPlayer.vigor}} / 5 ">
            -->
            </p>
        </div>

        <h1 class="versus">- VS -</h1>

        <div class="enemy">
            <p id="enemy" class="troop green"><img class="troopImg" src="assets/images/mobile/archer.png" alt='asset enemy'></p>
            <!-- When us5-Fight is updated, delete the previous line and uncomment:
            <p id="enemy" class="troop green"><img class="troopImg" src={{ saveEnemy.image }} alt='asset enemy'></p>
            -->
            <p><img class="vigorImg" src="assets/images/mobile/vigor5-5.png" alt="asset vigor enemy {{ enemy.vigor }} / 5"></p>
            <!-- When us5-Fight is updated, delete the previous line and uncomment:
            <p><img class="vigorImg" src={{ enemy.imgVigor }} alt="asset vigor enemy {{ enemy.vigor }} / 5"></p>
            -->
        </div>
    </div>
    <div class="score">
        <h3 class="">SCORE</h3>
        <h1>~ {{ score }} ~</h1>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>let result = {{ result }};</script>
<script src="assets/js/timer.js"></script>
{% endblock %}