{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/get_ready.css">
{% endblock %}

{% block title %}
Choice your troop
{% endblock %}
{% block content %}
<section class="sky">
    <img class="castle" src="assets/images/mobile/troop_choice_castle.png" alt="Castle open door">
    <div class="backgroundRound">
        <h2 class="round">Get Ready for</h2>
        <h1 class="round">Round {{ game.round }}</h1>
    </div>
</section>
<section class="grass">
    <img class="indice" src={{ session.saveEnemy.indice }} alt="image enemy indice ">
    <div class="alignChoice">
        <div class="backgroundChoice">
            {% for troop in troops %}
            <div class="oneTroop">
                {% if troop.vigor == 3 or troop.vigor == 2 %}
                <p class="yellow">
                    {% elseif troop.vigor == 1 %}
                <p class="red">
                    {% else %}
                <p class="green">
                    {% endif %}
                    <a href="fight?id={{ troop.type }}"><img src={{ troop.image}} alt="asset troop "></a>
                </p>
                <p><img src={{ troop.imgVigor }} alt="asset vigor troop {{ troop.vigor}} / 5 "></p>
            </div>
            {% endfor %}
        </div>
        <p>~ VS ~</p>
        <div class="backgroundChoice">
            <p class="green"><img src="assets/images/mobile/return_icon.png" alt="asset enemy caché "></p>
            <p><img src={{ session.saveEnemy.imgVigor }} alt="asset vigor enemy {{ session.saveEnemy.vigor }} / 5"></p>
        </div>
    </div>
    <h2 class="score"> Score <br>{{ game.score }}</h2>
</section>
{% endblock %}